<%=img('like.png', :height => 15)%>
<b>
	<a href='http://www.facebook.com/<%= like['id'] %>' target='_blank' >
		<%= like['name'] %></b> ( <%= like['category']%>)
	</a>
</b>
<small>
	<%= like.inspect %>
</small>