<html>
  <head>
    <title><%= APPNAME %> on <%=self['SERVER_NAME'] rescue nil%>: SOBENME</title>
  </head>
  <body>
  <%= erb :'header.html' %>
    <div class='content'>
      <%= yield %>
    </div>
  <%= erb :'footer.html' %>
  <font color='red'>[RicLayout]</font>
  <hr/><h2>DEBUG</h2>:
  <%= tt(self.class) rescue "Err: #{$!}"%>
  </body>
</html>
